// Colors

// $link-color: $blue-000;

// orange - Flame - https: //html-color.codes/orange
// $link-color: #e25822

// blue - cobalt - https: //html-color.codes/orange
// $link-color: #0047ab

// my blue from LiberOffice
$link-color: #0369a3;

// NOTES - beige
// $purple-000: #ffa500; //Orange
// $purple-300: #800000; //Maroon

// NOTES - blue
// $purple-000: #73a9c2;
// $purple-300: #1034a6;

// NOTES - grey
$purple-000: #838996; // Roman Silver
$purple-300: #253529; // Black Leather Jacket